/* light theme */

    /* border color: #1a1a1a; */
    /* content_box background color: #fff */
    /* normal text color: #000 */
    /* special text color: #929391 */


a {
    text-decoration: none;
}

.form-control:focus, input:focus {
    box-shadow: none;
}

.app_toast {
    opacity: 1;
    position: fixed;
    top: 5%;
    right: -100%;
    min-width: 200px;
    max-width: 250px;
    z-index: 999;
    transition: all 0.4s;
}

.app_toast .toast_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.account_btn {
    box-shadow: #fce100 0px 3px 2px 0px;
    border-radius: 0.4rem;
    border-bottom: 2px solid #fff;
    background: #306757;
}

.odd_suspended, .odd_running {
    display: none;
    text-align: center;
    align-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000d4;
    color: #fff;
}

.table_head {
  display: flex;
  flex-direction: row;
  background: #349afa;
  height: 30px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.in_play {
    letter-spacing: 0.9px;
    border-radius: 12px;
    color: #fff;
    float: right;
    margin: 4px 4px 0px 8px;
  }

  .blinking_green {
  animation: 2s blink-green ease infinite;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-left: 5px;
  background-color: #05fb33 !important;
  background-color: #00ff00;
}

.odd_change {
    background: #91c9f5 !important;
}